<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Alessandro Garavello
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>

    <!-- Primer Card -->
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header color="primary">
            <ion-card-title class="ion-text-center">Alessandro Garavello San Pedro</ion-card-title>
            <ion-card-subtitle class="ion-text-center">Técnico en desarrollo de aplicaciones multiplataforma</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Segundo y Tercer Card -->
    <ion-row>
      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Presentación</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Estudiante del ciclo formativo de grado superior en desarrollo de aplicaciones multiplataforma. Apasionado por el diseño de aplicaciones, la ciberseguridad y deseoso de ampliar conocimientos en programación para dedicarse al diseño de videojuegos.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>EDUCACIÓN</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Campus FP - Grado superior en desarrollo de aplicaciones multiplataforma</p>
            <p>2022 – Actualidad</p>
            <p>Campus FP – Higher National Diploma</p>
            <p>2022 - Actualidad</p>
            <p>IES Léon Felipe – Bachillerato de ciencias</p>
            <p>2019 - 2022</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Cuarto y Quinto Card -->
    <ion-row>
      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>CONTACTO</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>TELÉFONO: +34 635-359-597</p>
            <p>CORREO ELECTRÓNICO: alessandrogaravello04&#64;gmail.com</p>
            <p>CORREO ELECTRÓNICO: alessandro.garavello&#64;campusfp.es</p>
            <p>GitHub: <a href="https://github.com/AlessandroGaravello" target="_blank">AlessandroGaravello</a></p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>IDIOMA – INGLÉS – B2</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Comprensión oral: Medio</p>
            <p>Comprensión escrita: Avanzado</p>
            <p>Producción de textos orales: Medio</p>
            <p>Producción de textos escritos: Avanzado</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Sexto y Séptimo Card -->
    <ion-row>
      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>HABILIDADES</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Asertividad</p>
            <p>Objetividad</p>
            <p>Paciencia</p>
            <p>Trabajo en equipo</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>OTROS</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Disponibilidad a viajar</p>
            <p>Disponibilidad horaria</p>
            <p>Disponibilidad a incorporación inmediata</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Octavo Card -->
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>COMPETENCIAS TÉCNICAS / APLICACIONES</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li>Python - Visual Studio Code - Visual Studio - PyCharm - Anaconda</li>
              <li>PHP - Visual Studio Code - PHPStorm</li>
              <li>Java - NetBeans 17 - Eclipse - IntelliJ</li>
              <li>Spring - Eclipse - IntelliJ</li>
              <li>Kotlin - Android Studio Girafe</li>
              <li>C# - Unity</li>
              <li>HTML, CSS3, XML, JavaScript, Bootstrap, Ionic(Angular) - Visual Studio Code - Visual Studio</li>
              <li>MySQL - MySQL Workbench</li>
              <li>PostgreSQL - pdAdmin4</li>
              <li>MongoDB - Visual Studio Code</li>
              <li>OracleDB - Oracle Database Developer</li>
              <li>SQLite3</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
