<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Portfolio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="p-4">

  <!-- Información del programador -->
  <div class="mb-8">
    <h2 class="text-2xl font-bold mb-4">Lenguajes y habilidades</h2>
    <div class="flex flex-wrap">
      <!-- Iconos de lenguajes -->
      <div *ngFor="let language of languages" class="w-1/5 mb-4">
        <img [src]="'assets/icon/' + language.icon + '.svg'" alt="{{ language.name }}" class="w-12 h-12">
        <p class="text-center">{{ language.name }}</p>
      </div>
    </div>
  </div>

  <!-- Idiomas -->
  <div class="mb-8">
    <h2 class="text-2xl font-bold mb-4">Idiomas</h2>
    <div class="flex">
      <!-- Banderas e información de idiomas -->
      <div *ngFor="let lang of languagesProficiency" class="mr-6">
        <img [src]="'assets/flags/' + lang.flag + '.png'" alt="{{ lang.language }}" class="w-8 h-8">
        <p>{{ lang.language }} - {{ lang.proficiency }}</p>
      </div>
    </div>
  </div>

  <!-- Contacto -->
  <div>
    <h2 class="text-2xl font-bold mb-4">Contacto</h2>
    <button (click)="sendEmail()" class="bg-blue-500 text-white px-4 py-2 rounded">Enviar correo</button>
  </div>

</ion-content>
