<ion-content [fullscreen]="true" class="p-4">

  <!-- Nombre -->

  <div class="mx-20 mt-12">
    <h2 class="texto">Natalia Ramírez Benito</h2>
  </div>

  <!-- Introducción -->
  <div class="mx-20 mt-12">
    <h2 class="text-2xl font-bold mb-4">Introducción</h2>
    <p class="text-lg">{{ introduction }}</p>
  </div>

  <!-- Lenguajes y programas -->
  <div class="mx-20 mt-12" style="">
    <h2 class="text-2xl font-bold mb-4">Lenguajes y tecnologías</h2>
    <div class="flex justify-center items-center">
      <div class="grid grid-cols-12 gap-16">
        <!-- Iconos de lenguajes -->
        <div *ngFor="let language of languages">
          <img [src]="'assets/icon/' + language.icon + '.svg'" alt="{{ language.name }}" class="w-12 h-12">
        </div>
      </div>
    </div>

  </div>

  <!-- Idiomas -->
  <div class="mx-20 mt-12">
    <h2 class="text-2xl font-bold mb-4">Idiomas</h2>
    <div class="flex">
      <!-- Banderas e información de idiomas -->
      <div *ngFor="let lang of languagesProficiency" class="mr-6">
        <img [src]="'assets/flags/' + lang.flag + '.png'" alt="{{ lang.language }}" class="w-12 h-10">
        <br>
        <p>{{ lang.language }} - {{ lang.proficiency }}</p>
      </div>
    </div>
  </div>

  <!-- Contacto -->
  <div class="mx-20 mt-12">
    <h2 class="text-2xl font-bold mb-4">Contacto</h2>
    <div class="flex flex-1 gap-8 justify-center items-center">
      <button (click)="sendEmail()" class="bg-blue-500 text-white px-4 py-2 w-40 rounded-full">Enviar correo</button>
      <button (click)="github()" class="bg-blue-500 text-white px-4 py-2 w-40 rounded-full">Github</button>
    </div>

  </div>

</ion-content>
